/* General Blueprint Style */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@font-face {
	font-family: 'bpicons';
	src:url('../fonts/bpicons/bpicons.eot');
	src:url('../fonts/bpicons/bpicons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/bpicons/bpicons.woff') format('woff'),
		url('../fonts/bpicons/bpicons.ttf') format('truetype'),
		url('../fonts/bpicons/bpicons.svg#bpicons') format('svg');
	font-weight: normal;
	font-style: normal;
} /* Made with http://icomoon.io/ */

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body, html { font-size: 100%; padding: 0; margin: 0;}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

body { 
    font-family: 'Lato', Calibri, Arial, sans-serif;
    color: #fff;   
}   
          
a { 	  
	color:#7f7f7f; 
	text-decoration: none;  
}   
 
a:hover {	
	color:#a72b63;
}

br{
	margin-top:5px;
}

.container{	
	margin-top:-12px !important;
}
  
.container > header {	
	position: relative;
	width: 100%;	
	height:100vh;	 
	position: relative;
	z-index: 2000;
	margin: 0 auto;		
	color:#fff !important;
	background:#47a3da;		
}

/* Header Div */
.containerHead{
	position: absolute;	
	margin:2% auto;
	padding: 0 5% 0 5%;
	width: 100%;
	height:100vh;	
}
  
/* Logo */ 
header img{  
	position: relative;		
	width:20%;
	margin-top:20% !important;
	margin-left: 40% !important;	
}
 
/* Social Icons*/
header nav{		
	position: relative;
	text-align: center;	
	margin:-30% auto;
    width: 100%;	
}

#circle{
	position: relative;
	margin: 30% auto !important;		
}

/* Sticky Nav */
.nav{
	position: relative;
	z-index: 5000;
	margin: 100vh 0 40px 0;	
	text-align: center;	
}

.placeholder{
	/*margin: 100vh 0 40px 0;*/
}

.fixed{
	position:fixed;
	margin-top:0px !important;
	width:100%;
}

.nav ul{
	margin:0;
	padding:0;	
}

.nav ul li{
	list-style: none;
	float: left;
} 

.nav ul li a:link,
.nav ul li a:visited{
	display:block;
	text-decoration: none;
	margin-top:2px;
	padding:10px 25px;	
	background-color: rgba(0, 0, 0, 0.3);
	border-right:2px solid #d5dce4;
	color:#fff;
	font-size:18px !important;
	font-weight:bold;
	cursor: pointer;
	font-weight: normal;
}

h1 {
	position: relative;	
	font-family: 'Raleway', Maven Pro, sans-serif;    
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 100px;    
    color: #ACA9A0;    
    filter: dropshadow(color=#787777, offx=1, offy=1);  
    margin:27% auto;
    height:auto;
    width: 100%;     
}
   
h2 {
	position: relative;	
	font-family: 'Maven Pro', sans-serif;
    font-weight: 900;
    font-size: 20px !important;
    text-transform: uppercase;
    letter-spacing: 7px;
    line-height: 30px;   
    color: #ACA9A0;  
    filter: dropshadow(color=#787777, offx=1, offy=1);  
    margin:25% auto;
    width: 100%;   
    height:100px;  
}

strong{
	font-family: 'Maven Pro', sans-serif;
	font-style: 100%;
	line-height: 30px;
	font-weight:bold;
}

article h2{
	z-index: -5;
}

article p .hide{
	display: none;
}

#ccf figure{
	margin-top:4% !important;	
}

#ccf figure img{
	position: relative;	
	max-width:1920px;
	max-height:900px;
	width:50% !important;
	margin-top:40% !important;		
}

#ccf article{		
	margin-top:8%;	
	height:70vh !important;		
}

#ccf p, #ccf p:active, #ccf .show{
	margin:-34% auto;		
	height:500px !important;	
	font-size:1.2em;	
	color: #7f7f7f;
	width:60%;
	float: right;
	padding:0 1% 0 0 !important;	
}

#ccf article h2{	
	margin-top: -30% !important;			
}

#dogs article {
	margin-top:9%;
	position: relative;		
}

#dogs p, #dogs p:active, #dogs .show{
	margin:-33% auto;		
	height:500px !important;	
	font-size:1.2em;
	width:60%;
	float: left;	
}

#dogs article h2{
	margin-top: -30% !important;
}


#dogs figure{
	margin-top:5%;
	position: relative;		
}

#dogs figure img{
	margin-top:35% !important;
	width:100%;
	position: relative;	
}

#el3phant article{
	margin-top:8% !important;	
	overflow: hidden;	
}

#el3phant figure{
	margin-top:8%;		
}

#el3phant figure img{ 
	margin-top:28% !important;
	width:60% !important;	
}

#el3phant article{
	margin-top:12%;		
}

#el3phant p, #el3phant p:active, #el3phant .show{
	margin:-33% auto;		
	height:500px !important;	
	font-size:1.2em;
	color: #7f7f7f;
	width:60%;
	float: right;
	padding:0 1% 0 0 !important;		
}

#el3phant h2{
	margin-top: -30% !important;		
	z-index: -50;
}

#fou figure{ 
	margin-top:19% !important;	
}

#fou article{
	margin-top:9% !important;	
	height:70vh !important;
}

#fou article h2{
	margin-top: -30% !important;	
}

#fou p, #fou p:active, #fou .show{
	margin:-33% auto;		
	height:500px !important;	
	font-size:1.2em;
	color:#fff !important;
	width:60%;
	float: left;	
}

#spotx figure{ 
	margin-top:7% !important;	
}

#spotx article{
	margin-top:-2% !important;	
	height:90vh !important;
}

#spotx p{	
	color:#7f7f7f !important;
}

#spotx p, #spotx p:active, #spotx .show{
	margin:-33% auto;		
	height:500px !important;	
	font-size:1.2em;
	width:60%;
	float: right;
	padding:0 1% 0 0 !important;
}

#spotx figure img{
	position: relative;
	margin-top:33% !important;	
} 

#spotx article h1{
	position: relative;
	margin-top:55% !important;
}

#spotx article h2{
	margin-top: -30% !important;
}

#wb figure{ 
	margin-top:8% !important;	
}

#wb article{
	margin-top:-2% !important;
	height:90vh !important;
}

#wb p{	
	color:#fff !important;
}

#wb p, #wb p:active, #wb .show{
	margin:-28% auto;		
	height:500px !important;	
	font-size:1.2em;
	padding:0 22% 0 0;	
}

#wb figure img{
	position: relative;
	margin-top:30% !important;	
} 

#wb article h1{
	position: relative;
	margin-top:55% !important;
}

#wb figure img{
	position: relative;
	margin-top:25% !important;
	width:50% !important;
}




#contact figure{ 
	margin-top:7% !important;	
}

#contact article{
	margin-top:-2% !important;	
	height:90vh !important;
}

#contact p{	
	color:#7f7f7f !important;
}

#contact p, #contactx p:active, #contact .show{
	margin:-33% auto;		
	height:500px !important;	
	font-size:1.2em;
	width:60%;
	float: right;
	padding:0 1% 0 0 !important;
}

#contact figure img{
	position: relative;
	margin-top:33% !important;	
} 

#contact article h1{
	position: relative;
	margin-top:55% !important;
}

#contact article h2{
	margin-top: -30% !important;
}
 
h3 {
	position: relative;	
	font-family: 'Maven Pro', sans-serif;    
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 5px;   
    text-align: center;
    color: #ACA9A0;  
    filter: dropshadow(color=#787777, offx=1, offy=1);     
}

p{
	margin:-20% auto;
}

#dogs article p button{
	background-color: #ffac00;
}

.readmore{
	cursor: pointer;
}

.container > header nav {
	float: right;
	text-align: center;
}

.container > header nav a {	
	position: relative;
	text-align: left;
	}

.container > header nav a > span {
	display: none;
}

.container > header nav a:hover:before {
	content: attr(data-info);
	color: #fff;
	position: absolute;
	width: 600%;
	top: 120%;
	text-align: right;
	right: 0;
	pointer-events: none;
}

.bp-icon:after {
	font-family: 'bpicons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	text-align: center;
	color: #fff;
	-webkit-font-smoothing: antialiased;
}

.container > header nav .bp-icon:after {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	line-height: 2;
	text-indent: 0;
}

.container > header nav a:hover:after {
	color: #47a3da;
}

.bp-icon-next:after {
	content: "\e000";
}
.bp-icon-drop:after {
	content: "\e001";
}
.bp-icon-archive:after {
	content: "\e002";
}
.bp-icon-about:after {
	content: "\e003";
}
.bp-icon-prev:after {
	content: "\e004";
}

nav svg{	
	margin:1% auto;
	margin-left: 12px;
	width:75px;
	height:75px;	
}

#w1{
	float:right;
}

#w2{	
	float: left;
}

/* Bio */
#bio article{
	z-index: 50;
}

#bio figure{
	z-index: 50;
}

#bio article h2{
	position: relative;
	margin-top: 60% !important;	
	height:30px;
	color:#a72b63; 	
	cursor:pointer;	
}

/* Blog */
#bio figure h2{
	position: relative;
	margin-top: 55% !important;	
	height:30px;
	color:#a72b63; 
	text-align:left; 
	cursor:pointer;	
}

/* Process */ 
.thumbL ul li{	
	position: relative;	
	float: left;
	margin-top:-40% !important;
 }

 /* Resume*/
.thumbR ul li{	
 	position: relative;	
 	margin-top:-30% !important;
	float: right;
 }

/* about me 2x buttons (left) */
#resume{		
	float: right;		
}

/* blog button (right) */
#process{	
	margin-top:-40% !important;	
	margin-left: -30% !important;
	float: left;	
}

#bio{
	position: relative;
	text-align: left;
	width:90%;
	height:auto;
	margin:-10px auto !important; 
	padding:10px;
	padding-left:20px;
	padding-right: 20px;
	border-radius: 10px;	
}

#bio article {
	position: relative;
	margin-top:2% !important;
	float: left;
	width:50% !important;	
	height:auto !important;	
}

#bio article p{
	position: relative;	
	margin-top:-21% !important	;
	padding-bottom:32%;	
}

#bio figure{
	position: relative;
	margin-top:4.1% !important;	
	height:auto !important;
}

#bio figure p{ 
	position: relative;	
	margin-top:-21% !important;
	padding-bottom:32%;	
}

button{	
	background-color: #a72b63; /* Green */
    border: none;   
    border-radius: 5px;    
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;    
} 

.orange{ 
	color:#ffbd4a;
}

.gray{ 
	color:#d9d9d9;
	font-size: 80%;
} 

.white{
	color:#fff;
}

li .resumeNext:hover{	
	display: none;
}


@media screen and (max-width: 1366px) { /**** breakpoint! *****/
#ccf figure{
	margin:0 !important;	
}

#ccf article{
	height:100vh !important;	
}

#ccf article h2{
	margin-top:-32% !important;
}

#ccf p, #ccf p:active, #ccf .show{
	margin:-38% auto;				
}

#ccf figure img{
	width:70% !important;
	margin-top:51% !important;
}

#dogs article h2{
	margin-top:-32% !important;
}

#dogs p, #dogs p:active, #dogs .show{
	margin:-37% auto;			
}

#dogs figure{
	margin:0 !important;	
}

#dogs figure img{
	width:70% !important;
	margin-top:51% !important;
}

#el3phant article h2{
	margin-top:-32% !important;
}

#el3phant p, #el3phant p:active, #el3phant .show{
	margin:-37% auto;					
}

#el3phant figure{
	margin:0 !important;	
}

#el3phant figure img{
	width:75% !important;
	margin-top:51% !important;
}

#fou article{
	height:100vh !important;	
}

#fou article h2{
	margin-top:-32% !important;
}

#fou p, #fou p:active, #fou .show{
	margin:-37% auto;			
}

#fou figure{
	margin:0 !important;	
}

#fou figure img{
	width:65% !important;
	margin-top:51% !important;
}

#spotx article h2{
	margin-top:-32% !important;
}

#spotx p, #spotx p:active, #spotx .show{
	margin:-37% auto;			
}

#spotx figure{
	margin:0 !important;	
}

#spotx figure img{
	width:70% !important;
	margin-top:51% !important;
}

#wb article h2{
	margin-top:-30% !important;
}

#wb p, #wb p:active, #wb .show{
	margin:-27% auto;			
}

#wb figure{
	margin:0 !important;	
}

#wb figure img{
	width:60% !important;
	margin-top:51% !important;
}

}


@media screen and (max-width: 1280px) {
#ccf article{	
	height:120vh!important;	
}

#spotx article{
	height:120vh!important;
}

}

@media screen and (max-width: 1024px) {
.nav ul li{
	width:12.5%;	
}

.nav ul li a{
	height:68px !important;
}

article h2{
	z-index: 500;
}

header img{  	
	width:25%;	
}

#bio article{
	margin-top:10% !important;
}

#bio figure{
	margin-top:12% !important;
}

#ccf article{
	height:110vh !important;	
}

#ccf p, #ccf p:active, #ccf .show{
	margin:-40% auto;	
}

#ccf figure img{
	margin-top:55% !important;
	width:80% !important;
}

#dogs p, #dogs p:active, #dogs .show{
	margin:-38% auto;				
}

#dogs figure img{ 	
	margin-top:55% !important;
	width:80% !important;	
}

#dogs button{
	margin-top:1% !important;
}

#el3phant figure img{
	margin-top:55% !important;
	width:90% !important;
}

#el3phant article h2{
	z-index: 550;
}

#el3phant p, #el3phant p:active, #el3phant .show{
	margin:-38% auto;				
}

#fou figure img{ 
	margin-top:50% !important;
	width:80% !important;	
}

#fou p, #fou p:active, #fou .show{
	margin:-38% auto;				
}

#spotx figure img{ 
	margin-top:60% !important;
	width:80% !important;	
}

#spotx p, #spotx p:active, #spotx .show{
	margin:-38% auto;				
}

#wb figure img{ 
	margin-top:50% !important;
	width:80% !important;	
}

}

/**** breakpoint! *****/
@media screen and (max-width: 768px) {  
.nav #hamburger{
	position: relative;
	display: block;
	width:80px !important;
	background-color: #ffac00;
	margin-top:0 !important;	
	height:40px !important;	
	border:2px solid #ffac00;
}

.nav ul{
	z-index: 5000;
	width:100%;
	display: none;
}

.nav ul li{
	width:100%;	
}

header img{
	width:45% !important;
	margin-top:40% !important;
	margin-left:30% !important;
}

#circle{
	position: relative;	
	margin-left:-5% !important;
	width:30% !important;
}

#bio article{
	position: relative;
	width:100% !important;	
	margin-top:30% !important;	
	text-align: left;	
	height:auto !important;	
}

#bio article h2{	
	position: relative;
	margin-top:0 !important;
	text-align: center;
}

#bio figure{
	position: relative;
	width:100% !important;	
	margin-top:-100% !important;	
	padding-top:15% !important;
	text-align: left;	
	height:auto !important;	
}

#bio figure h2{
	position: relative;
	margin-top:0 !important;
	text-align: center;
}

.thumbR ul li{	
 	position: relative;	
 	margin-top:-60% !important;
	float: right;
 }

.thumbL ul li{	
	position: relative;	
	float: left;
	margin-top:-40% !important;
 }

#resume button{
	position: relative;
	margin-top:5% !important;	
	margin-left: -30% !important;		
}

#bio figure{
	width:100% !important;
	margin-top:40% !important;
	/*height:30vh !important;*/  /*  ########  BLOG AUTO HEIGHT ####### */
	text-align: left;	
}

#bio figure h2{	
	margin-top:-10% !important;
	text-align: center !important;
}

article p{		
	width: 100% !important;
}

#ccf article{
	height:auto !important;
	margin-top: 20% !important;
	text-align: center !important;		
}

#ccf article h1{
	margin-top:-15% !important;
}

#ccf p, #ccf p:active, #ccf .show{
	padding:0;
}

#ccf figure img{
	margin-left:10% !important;
	margin-top:-5% !important;
}

#dogs article{
	position: absolute;
	height:auto !important;
	margin-top: -140% !important;
	text-align: center !important;		
}

#dogs article h1{
	margin-top:0% !important;
}

#dogs article h2{
	margin-top:-33% !important;
}

#dogs p, #dogs p:active, #dogs .show
{
	position: relative;
	margin-top:-38% !important;

	padding:0;
}

#dogs figure{
	margin-left:-8% !important;
}

#dogs figure img{	
	position: relative;
	margin-top:90% !important;	
	width:80% !important;		
	z-index: 500;	
}

#el3phant article{
	height:33vh !important;
	margin-top: 20% !important;
	text-align: center !important;	
}

#el3phant article h1{
	margin-top:-15% !important;
}

#el3phant article h2 {
    z-index: -5;
}

#el3phant figure{
	margin-left: 5% !important;
}

#el3phant figure img{
	margin-top:0% !important;
	width:90% !important;	
}

#fou article{
	position: absolute;
	height:55vh !important;
	margin-top: -125% !important;
	text-align: center !important;		
}

#fou  article h1{
	margin-top:0 !important;
}

#fou  article h2{
	margin-top:-33% !important;
}

#fou  p, #fou  p:active, #fou  .show
{
	position: relative;
	margin-top:-37% !important;
	padding:0;
}

#fou figure{
	margin-top:0 !important;	
	margin-left:-9% !important;	
}

#fou figure img{	
	position: relative;
	margin-top:57% !important;
	width:80% !important;		
	z-index: 500;	
}

#spotx article{
	height:45vh !important;
	margin-top: 20% !important;
	text-align: center !important;
	}

#spotx article h1{
	margin-top:-15% !important;
}

#spotx p, #spotx p:active, #spotx .show{
	padding:0;
}

#spotx figure{
	margin-left:5% !important;
}

#spotx figure img{
	margin-top:-10% !important;	
	width:90% !important;	
}

#wb article{
	position: absolute;
	height:auto !important;
	margin-top: -160% !important;
	text-align: center !important;		
}

#wb  article h1{
	margin-top:25% !important;
}

#wb article h2{
	margin-top:-32% !important;
}

#wb p, #wb p:active, #wb .show
{
	position: relative;
	margin-top:-26% !important;
	padding:0;
}

#wb figure img{	
	position: relative;
	margin-top:75% !important;
	margin-left:10% !important;
	float: left;
	width:80% !important;		
	z-index: 500;	
}

.cbp-so-side {
	float: none;
	width: 100%;
}

.cbp-so-side img {
	max-width: 100%;
}

}

@media screen and (max-width: 480px){
header img{
	width:50% !important;
	margin-top:40% !important;
	margin-left:30% !important;
}

nav{	
	margin-top: 45% !important;	
}

#circle{
	position:relative;
	float: left;	
	margin-top: -40% !important;	
	margin-left:25% !important;
	width:60% !important;	
}

/* Social Icons */
image{
	display: none;		
}

#bio{
	height:auto !important;
}

#bio article{
	margin-top:50% !important;	
}	

#bio figure {	
	height:auto !important;	
}

#resume button{
	position: absolute;	
	margin-left: -5% !important;	
}

#resume{
	position: absolute;
	margin-left:8% !important;
	margin-top:-10% !important;
}
 
#process{
	position: absolute;
	margin-left:8% !important;
	margin-top:-10% !important;
}

article p{		
	width: 100% !important;
}

article p .hide{
	display: inline-block;
}

article p strong{
	display: none;
}

#ccf{ 
	margin-top:10% !important;		
}

#ccf article{	
	float: left;
	margin-top: 20% !important;
	height:85vh !important;	
}

#ccf article button {	
	margin-top:10% !important;	
}

br{
	display: none !important;
}

#ccf figure{
	margin-left:-6% !important;
	height:auto !important;
	margin-top:-10% !important;
}

#ccf figure img{	
	width: 100% !important;
	position: relative;	
	margin-top:-5% !important;	
}

#ccf article{
	z-index: 50;
}

#ccf figure{
	z-index: 50;
}

#dogs article{
	position: absolute;
	height:85vh !important;
	margin-top: -190% !important;
	text-align: center !important;	
}
#dogs article h1{
	margin-top:-20% !important;
}

#dogs article button {	
	margin-top:10% !important;	
}

#dogs figure{
	margin-top:30% !important;	
	margin-left:0.2% !important;
}

#dogs figure img{	
	position: relative;
	margin-top:110% !important;	
	width:100% !important;		
	z-index: 500;	
}

#el3phant {
	margin-left:8% !important;
}

#el3phant article{
	height:50vh !important;
	margin-top:30% !important;	
}

#el3phant article h2{
	margin-top:-36% !important;
}

#el3phant p, #el3phant p:active, #el3phant .show{
	position: relative;
	margin-top:-41% !important;
	padding:0;
}

#el3phant article button {	
	margin-top:10% !important;	
}

#el3phant figure{
	margin-left:0% !important;
}

#el3phant figure img{
	margin-top:-5% !important;
}

#fou{
	height:auto !important;
}

#fou article{	
	margin-top:-160% !important;
	height:85vh !important;
}

#fou article h1{
	margin-top:-15% !important;
}

#fou article button {	
	margin-top:10% !important;	
}

#fou figure{
	height:90vh !important;	
	margin-top:30% !important;
	margin-left:-8% !important;
}

#fou figure img{
	position: relative;
	margin-top:95% !important;	
}

#spotx{
	height:auto !important;
}

#spotx article{
	margin-top:20% !important;
	height:55vh !important;
}

#spotx article button {	
	margin-top:10% !important;	
}

#spotx figure{
	margin-left:5% !important;
}

#spotx figure img{
	width:90% !important;
	margin-top:5% !important;
	border-radius: 5px;
}

#wb{
	height:100vh !important;
}

#wb article{
	height:95vh !important;
	margin-top:-152% !important;
}

#wb article h1{
	margin-top:-23% !important;
}

#wb h1 span{
	height:40vh !important;
	display:none;
}

#wb h1 strong{
	position: absolute;	
	margin-top:-10px !important;	
}

#wb article button {	
	margin-top:5% !important;	
}

#wb figure img{
	margin-top:110% !important;
}

}

@media screen and (max-width: 360px){
header img{
	margin-top:20% !important;
}

#ccf article h2{
	line-height: 25px;
}

#ccf article p{
	margin-top:-35% !important;
}

#ccf article{
	height:105vh !important;
}

#ccf figure img{
	margin-top:20% !important;
}

#dogs article {
	height:100vh !important;
	margin-top:-210% !important;
}

#dogs article h1{
	margin-top:-20% !important;
}

#dogs figure img{
	margin-top:110% !important;
}

#el3phant article {
	height:70vh !important;
}

#fou article{
	margin-top:-210% !important;
	height:70vh !important;
}

#fou figure{
	height:120vh !important;
}

#fou figure img{
	margin-top:115% !important;
}

#spotx article{
	height:70vh !important;
}

#spotx figure img{
	margin-top:-5% !important;
}

#wb{
	height:125vh !important;
}

#wb article {
    height: 95vh !important;
    margin-top: -180% !important;   
}

#wb article h1{
	margin-top:-20% !important;
	/*border:2px solid #ffac00;*/
}

#wb figure{
	margin-top:10% !important;
}

#wb figure img{
	margin-top:110% !important;	
}

}

@media screen and (max-width: 320px){
#ccf article {
	height:120vh !important;
	/*border:2px solid #ffac00;*/
}

#dogs article{
	margin-top:-250% !important;
}

#dogs article h1{
	margin-top: -25% !important;
}

#dogs figure{
	margin-top:100% !important;
}

#dogs figure img{
	margin-top:100% !important;
}

#fou figure img{
	width:100 !important;
	margin-top:130% !important;
}

#spotx article{
	height:100vh !important;
}

#spotx figure img{
	margin-top:-15% !important;
}

#wb article{
	height:auto !important;
	margin-top:-220% !important;	
}

#wb article h1{
	margin-top:-10% !important;
}

#wb article h2{
	margin-top:-35% !important;
}

#wb p, #wb p:active, #wb .show{
	position: relative;
	margin-top:-15% !important;
	padding:0;
}

#wb figure{
	margin-top:120% !important;
}

#wb figure img{
	margin-top:20% !important;
}

}







